* {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-height: 100vh;
  background: #08415C;
  font-family: Arimo Hebrew Subset;
}


h1 {
  background-color: #6B818C;
  color: #F1BF98;
  margin: 0;               
  padding: 20px 40px;
  font-size: 48px;
  font-weight: bold;
}

.content {
   max-width: 1000px;
   margin: 0 auto;
   padding: 70px 40px;

}
.hero {
  margin: 0;
  text-align: center;
  color: #EEE5E9;
  font-size: 40px;
  font-weight: lighter;
  line-height: 1.2;
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
}

.bottom-row {
  display: flex;
  gap: 40px;
  align-items: flex-start;
  margin-top: 50px;
}

.profile-image img {
  width: 240px;
  height: 220px;
  object-fit: cover;
  border-radius: 6px;
}

.right-column h2 {
  margin: 0 0 10px 0;
  font-size: 28px;
  font-style: italic;
  font-weight: normal;
  color: #EEE5E9;
}


.bullet-intro ul {
  margin: 0;
  padding-left: 20px;
  color: #EEE5E9;
}

.bullet-intro li {
  margin-bottom: 18px;
  line-height: 1.6;
  font-size: 16px;
  color: #EEE5E9;
}